textarea {
    cursor: auto;
}

#modal-header,
.close {
    background-color: #5cb85c;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

h4 {
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

a button{
    margin-bottom: 10px;
}